h2 {
    margin-top: 20px;
    text-align: center;
}
button {
    margin-top: 0.5rem;
    box-shadow: 0px 4px 15px 0px black;
}

h3 {
    margin: 20px 0 20px 0;
    text-align: center;
}

input {
    border-radius: 22px;
    background: #F8F8F8;
    box-shadow: 0px 4px 15px 0px black;
    color: #A6A6A6;
    background-color: #F8F8F8;
    border: none;
}